@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'pains';
	src: url(../fonts/Admiration_Pains.ttf);
}

html {
	-webkit-text-size-adjust: 100%;
}

.pains {
	font-family: pains;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width:600px) {
/* Styles */
body h1 {
	background-color:#F00;
	color: #FFF;
}
}

@media screen and (max-width:599px) {
/* Styles */
body h1 {
	background-color:#009;
	color: #FFF;
}
}



